:root {
  --primary-color: #ffd014;
  --secondary-color: #a1d6f7;
  --tertiary-color: #facdd6;
  --brand-font: "Space Grotesk", sans-serif;
  --button-padding: 18px 30px;
}

body {
  background-color: black;
  font-family: var(--brand-font);
}

h1,
h2 {
  font-weight: 500;
  color: white;
}

h1 {
  font-size: 96px;
  line-height: 98px;
}

h2 {
  font-size: 40px;
}

p {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: white;
  opacity: 70%;
}

a {
  color: white;
}

a:hover {
  color: var(--primary-color);
}

img {
  max-width: 100%;
  height: auto;
}

footer {
  padding: 60px 220px;
}

.hero-section {
  background-image: url("/images/elements@2x.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom right;
}

.hero {
  padding: 180px 220px;
  height: 100vh;
  width: 90%;
}

.section {
  padding: 180px 220px 180px 220px;
}

.mb-80 {
  padding: 180px 220px 80px 220px;
}

.section-wide {
  padding: 0 120px 180px 120px;
  margin: auto 0;
}

.caption {
  font-size: 22px;
  color: var(--primary-color);
  font-weight: 400;
  opacity: 100%;
}

.highlight-pink {
  font-weight: 500;
  font-size: 96px;
  color: var(--tertiary-color);
}

.highlight-blue {
  font-weight: 500;
  font-size: 96px;
  color: var(--secondary-color);
}

.email {
  font-size: 60px;
  color: white;
  text-decoration: none;
}

.email:hover {
  color: var(--secondary-color) !important;
}

.footernote {
  font-weight: 400;
  font-size: 14px;
  color: white;
  opacity: 70%;
}

.btn-branding {
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.5px;
  padding: var(--button-padding);
  border-radius: 4px;
  border: 1px solid white;
  background-color: white;
  color: black;
}

.btn-branding:hover {
  background-color: var(--primary-color);
  color: black;
  border-color: var(--primary-color);
}

.btn-branding-outline {
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.5px;
  padding: var(--button-padding);
  border-radius: 4px;
  border: 1px solid white;
  margin-left: 16px;
  background-color: transparent;
  color: white;
}

.btn-branding-outline:hover {
  background-color: white !important;
  color: black !important;
}

.project-link {
  color: var(--secondary-color);
}

.fab {
  padding: 0 20px;
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
}

.description-wrapper {
  padding-top: 40px;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: var(--primary-color);
}

@media (max-width: 900px) {
  h1 {
    font-size: 40px;
    line-height: 50px;
  }

  h2 {
    font-size: 24px;
  }

  footer {
    padding: 40px 20px;
  }

  .highlight-pink {
    font-size: 40px;
  }
  .highlight-blue {
    font-size: 40px;
  }

  .email {
    font-size: 24px;
  }

  .hero {
    padding: 100px 20px;
    height: 100vh;
    width: 100%;
  }

  .hero-section {
    background-size: 300px 210px;
  }

  .section {
    padding: 100px 0px 20px 20px;
  }

  .section-wide {
    padding: 0 20px 100px 20px;
    margin: auto 0;
  }
}
